<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="DEBUG" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
          <pattern>%d{HH:mm:ss.SSS} [%thread] %cyan(%-5level) %logger{15} - %msg%n</pattern>
      </encoder>
  </appender>

  <appender name="INFO" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
          <pattern>%d{HH:mm:ss.SSS} [%thread] %green(%-5level) %logger{15} - %msg%n</pattern>
      </encoder>
  </appender>

  <appender name="WARN" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
          <pattern>%d{HH:mm:ss.SSS} [%thread] %yellow(%-5level) %logger{15} - %msg%n</pattern>
      </encoder>
  </appender>

  <appender name="ERROR" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
          <pattern>%d{HH:mm:ss.SSS} [%thread] %red(%-5level) %logger{15} - %msg%n</pattern>
      </encoder>
  </appender>

  <root level="debug">
      <appender-ref ref="DEBUG" />
  </root>

  <root level="info">
      <appender-ref ref="INFO" />
  </root>

  <root level="warn">
      <appender-ref ref="WARN" />
  </root>

  <root level="error">
      <appender-ref ref="ERROR" />
  </root>
</configuration>
